#footer{
  display: flex;
  align-items: center;
  background-color: #101C26;
  margin-top: 250px;
  
  .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.534);
    padding-top: 10px;
    .footer-col{      
      p{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #F5F5F5;
      margin: 40px 0 40px 0;
      }
      h3{
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;

      }
      a{
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      color: #B3B3B3;
      display: flex;
      align-items: flex-start;
      gap: 8px;
      margin-top: 20px;
      margin-bottom: 20px;

         ion-icon{
        color: yellow;
        fill: yellow;
        --ionicon-stroke-width: 64px;
      }
   
      }
    }
    
  }
}



    