#hero5{
  margin-top: 100px;
 
}
.hero5 {
    border-radius: 16px;
    padding: 50px 40px;
    position: relative;

}


.section-header{
  h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #F0E71433;
    width: 154px;
    height: 40px; 
    text-align: center;
    padding-top: 5px;
    border-radius: 30px;
    margin-bottom: 20px;
  }
}
.section-title {
    font-size: 42px;
    font-weight: 700;
    color: #1a1a1a;
    line-height: 1.3;
    max-width: 600px;
    margin-bottom: 60px;
    
}

.carousel-controls {
    position: absolute;
    top: 150px;
    right: 140px;
    display: flex;
    gap: 12px;
}

.carousel-btn {
    width: 44px;
    height: 44px;
    border: 2px solid #e5e7eb;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position: relative;
    ion-icon{
      font-size: 20px;
    }
}

.carousel-btn:hover {
    border-color: #4db8e8;
    background: #4db8e8;
    transform: scale(1.1);
}



.carousel-track {
    display: flex;
    gap: 24px;
    padding: 0 10px;
}  

.case-card {
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}



.case-image {
    height: 700px;
    position: relative;
    background: #f3f4f6;
}

.case-image img {
    width: 510px;
    height: 700px;
    margin-bottom: 100px;

}


.case-content {
    padding: 28px 24px;
}

.case-title {
    font-size: 24px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 12px;
    line-height: 1.3;
}
.case-link{
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: black;
    display: flex;
    align-items: center;
    gap: 20px;

}
.case-description {
    font-size: 14px;
    color: #6b7280;
    line-height: 1.6;
    margin-bottom: 20px;
}