#hero3 {
  .hero3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;

    .text {
      h4 {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        background: #f0e91434;
        width: 170px;
        height: 40px;
        text-transform: uppercase;
        text-align: center;
        border-radius: 25px;
        margin-bottom: 30px;
        padding-top: 10px;
      }

      h1 {
        font-weight: 600;
        font-size: 44px;
        line-height: 56px;
        color: #24272E;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #555C68;
        margin-top: 20px;

      }

      .image-logo {
        display: flex;
        align-items: center;
        gap: 30px;

        .logo-tittle {
          h5 {
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: -1.1%;
            margin-top: 20px;
          }
        }
      }
    }

  }
}