#hero {
  background: #101C26;

  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 90px;

    .left {
      h1 {
        font-weight: 700;
        font-size: 60px;
        line-height: 66px;
        letter-spacing: 1%;
        color: white;
      }

      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -1.1%;
        color: white;
        margin: 40px 0 40px 0;
      }
    }

    .right {
      position: relative;
      width: 680px;
 
    }
   .satrs{
    position: absolute;
    top: 200px;
    left: -400px;
   }
   .doct{
    position: absolute;
    bottom: 620px;
    left: 30px;
   }
    .static {
      position: absolute;
      top: 280px;
      left: -100px;
    }

    .button {
      display: flex;
      align-items: center;
      gap: 20px;

      .left {
        background: #F0E714;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: black;
        width: 160px;
        height: 50px;
        border: 1px solid #F0E714;
        border-radius: 40px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 20px;
      }

      button {
        background: #101C26;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: white;
        width: 140px;
        height: 40px;
        border: 1px solid #101C26;
        border-radius: 40px;
        display: flex;
        align-items: center;
        padding-left: 20px;
      }
    }

    .number {
      margin-top: 50px;
      display: flex;
      gap: 30px;
    }

    .num {
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
    }

    .num h2 {
      color: #ffd400;
      font-size: 48px;
      margin: 0;
      

    }

    .num p {

      color: white;
      font-size: 14px;
      margin-top: 5px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}