#hero4 {
  .hero4 {
    margin-top: 100px;

    h2 {
            font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        background: #f0e91434;
        width: 170px;
        height: 35px;
        text-transform: uppercase;
        text-align: center;
        border-radius: 25px;
        margin-bottom: 20px;
        padding-top: 10px;
    }

    h1 {
      font-weight: 600;
      font-size: 44px;
      line-height: 56px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: -1.1%;
      color: #24272e93;
      margin-bottom: 100px;
    }

    .category {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 30px;
      
     
      .card {
        width: 297px;
        height: 238px;
        background: white;
        border-radius: 10px;
        padding-left: 20px;
        margin-left: 10px;
        transition: 0.3s;

        .card_image {
          img {
            padding-top: 20px;

          }
          .dis{
            h3{
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            margin: 20px 0 20px 0;
            }
            p{
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
          letter-spacing: -1.1%;
       
            }
          }
        }
      }

      .card:hover {
        transform: translateY(-30px);
      }
    }
  }
}