#hero7 {
  position: relative;
  top: 100px;
  left: 50px;
  width: 500px;
  height: 358px;
  margin-left: 100px;
  
  

  .her {
    width: 620px;
    height: 494px;
    
    .bob {
      display: flex;
      gap: 10px;
      padding: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -1.1%;
      color: #555C68;
      ion-icon{
         color: black;
        fill: black;
        --ionicon-stroke-width: 64px;
      }
    }

    .did {
      display: flex;
      gap: 10px;
      padding: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -1.1%;
      color: #555C68;
        ion-icon{
         color: black;
        fill: black;
        --ionicon-stroke-width: 64px;
      }
    }

    .fif {
      display: flex;
      gap: 10px;
      padding: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -1.1%;
      color: #555C68;
        ion-icon{
         color: black;
        fill: black;
        --ionicon-stroke-width: 64px;
      }
      
    }

    .nic {
      padding: 20px 0 20px 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -1.1%;
      color: #555C68;
      margin-left: 10px;
    }

    .nin {
      padding: 5px;
    }

    .non {
      background: rgba(240, 231, 20, 0.2);
      width: 158px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 40px;
      margin: 20px 0 20px 0;

    }
  }
}

#did {
  position: relative;
  top: -400px;
  margin-left: 300px;
 
.Football {
  
  width: 420px;
  background: #0f172a;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  top: 130px;
  left: 600px;
}

  .Football {

    width: 500px;

    background: #0f172a;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    top: 130px;
    left: 600px;
  }

  .Football {
    label {
      color: #cbd5e1;
      font-size: 14px;
    }
    input{
      margin-top: 30px;
    }
  }

  .Football {
       
    textarea,
    input {
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px solid #64748b;
      margin-bottom: 30px;
      color: white;
    }
  }

  .Football {
    button {
      background: #facc15;
      border: none;
      padding: 10px 30px;
      border-radius: 25px;
    }
  }
}


